* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --yellow-color: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-900: hsl(0, 0%, 7%);
  --font: "figtree", sans-serif, system-ui;
}

body {
  background-color: var(--yellow-color);
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.card {
  width: 18rem;
  height: 25rem;
  background-color: var(--white);
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;

  box-shadow: 0.4rem 0.4rem 0rem black;
}

.card img {
  width: 16rem;
  height: auto;
  border-radius: 0.8rem;
}

.text {
  width: 15rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  font-family: var(--font);
  color: var(--gray-900);
}

.text > span:nth-of-type(1) {
  display: block;
  background-color: var(--yellow-color);
  padding: 0.3rem;
  border-radius: 5px;
  font-weight: 800;
  font-size: 0.7rem;
  margin-top: 0.9rem;
  margin-bottom: 0.6rem;
}

.text > span:nth-of-type(2) {
  font-size: 0.6rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.text a {
  text-decoration: none;
  cursor: pointer;
  color: var(--gray-900);
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 800;
}

.text a:active,
.text a:hover,
.text a:focus {
  color: var(--yellow-color);
}

.text p {
  font-size: 0.7rem;
  color: var(--gray-500);
  word-spacing: 0.1rem;
  letter-spacing: 0.01rem;
}

.text > p:nth-of-type(3) {
  margin-bottom: 1.6rem;
}

.profile_pic {
  width: 15rem;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.profile_pic img {
  width: 2rem;
  height: 2rem;
}

.profile_pic span {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 800;
}

@media screen and (max-width: 375px) {
  .card {
    width: 17rem;
    height: 24rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  .card img {
    width: 15rem;
    height: auto;
    border-radius: 0.8rem;
  }

  .profile_pic img {
    width: 1.6rem;
    height: 1.6rem;
  }

  .text a {
    font-size: 1rem;
  }

  .text p {
    font-size: 0.7rem;
    color: var(--gray-500);
  }
}
